html
  head
    title= title
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" type="text/javascript")
    script(src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js" type="text/javascript")
    script(src="https://brainblocks.io/brainblocks.min.js")

    script(type="text/javascript" src="/js/app.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

  body
    .container
      block content
    script(type="text/template" template="page-pick-repo")
      form(v-on:submit="submit")
        errors(:errors="errors")
        .form-group.form-inline
          label.form-label github.com/
          input.form-control(v-model="owner" type="text" name="owner" size="10")
          label.form-label /
          input.form-control(v-model="repo" type="text" name="repo" size="15")
          button.ml-2.btn.btn-primary Next

    script(type="text/template" template="page-donate")
      errors(:errors="errors")
      span(v-if="loading") Loading...
      span(v-if="!loading")
        .card
          .card-header
            .row
              .col-2
                img.pull-right.ml-2(v-bind:src="github.owner.avatar_url" width="100%")
              .col-10
                h3 Donate to {{github.full_name}}
                blockquote {{github.description}}

            .alert.alert-info.mt-2(v-if="!readme")
                p.mb-0 The owner of this repo must create a <code>readme-donations.json</code> file to collect your donation.
                p.small.mb-0 Are you the owner? <router-link :to="{path: '/claim/' + github.full_name}">Claim your donations</router-link>

          .card-body
            .alert.alert-success(v-if="success") Success!
            span(v-if="step == 1")
              form(v-on:submit="loadBrainBlocks")
                .form-group
                  label.form-label Your Name
                  input.form-control(v-model="from" type="text")
                .form-group
                  label.form-label Currency {{currency}}
                  select.form-control(v-model="currency")
                    option(v-for="cur in currencies" v-bind:value="cur.key") {{cur.name}} {{cur.prefix}} {{cur.key}}

                .form-group
                  label.form-label Amount
                  input.form-control(v-model="amount")

                .form-group
                  transition(name="fade")
                    span(v-if="!submitting")
                      button.btn.btn-primary.mr-2 Donate With Nano
                      button.btn.btn-outline-secondary(v-on:click="preview" type="button") Preview
                    span(v-if="submitting") Submitting
                  div.mt-3(v-if="previewUrl")
                    img(:src="previewUrl")
            span(v-show="step == 2")
              div.mb-2(v-if="previewUrl")
                span Preview: 
                img(:src="previewUrl")
              #brainblocks-container
              .mt-1
                span or <a v-on:click="cancel" href="javascript:void(0)">cancel</a>

